<th:block xmlns:th="http://www.thymeleaf.org">


    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/vehicles/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${vehicle} != null ? ${vehicle.getId()} : '')">
                    <div class="form-group">
                        <select name="brand" class="form-control">
                            <option th:if="${vehicle} != null"
                                    th:selected="${vehicle.getVehicleBrand() != null && vehicle.getVehicleBrand().getId() == brand.getId()}"
                                    th:each="brand : ${brands}"
                                    th:value="${brand.getId()}"
                                    th:text="${brand.getName()}">
                            </option>
                            <option th:if="${vehicle} == null"
                                    th:each="brand : ${brands}"
                                    th:value="${brand.getId()}"
                                    th:text="${brand.getName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text"
                               class="form-control"
                               id="model"
                               name="model"
                               th:value="(${vehicle} != null ? ${vehicle.getModel()} : '')"
                               required
                               placeholder="Enter product name">
                    </div>
                    <select name="type" class="form-control">
                        <option value="CAR">CAR</option>
                        <option value="MOTOR">MOTOR</option>
                        <option value="TRUCK">TRUCK</option>
                        <option value="BUS">BUS</option>
                    </select>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${vehicle} != null ? ${vehicle.getPrice()} : '')"
                               required
                               placeholder="Enter product name">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/vehicles">Back</a>
                </form>
            </div>
        </div>
    </div>


</th:block>