<div class="container">
    <div class="pt-2">
        <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Your favorite vehicles</h1>
        </div>
        </section>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${vehicles}" class="favorite-vehicle">
                <td th:text="${vehicle.getVehicleBrand().getName()}"></td>
                <td th:text="${vehicle.getModel()}"></td>
                <td th:text="${vehicle.getType()}"></td>
                <td th:text="${vehicle.getPrice()}"></td>
                <td class="text-right">
                    <th:block>
                        <form th:action="@{'/vehicles/favorite/remove/{id}' (id=${vehicle.getId()})}" th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger remove-favorite-vehicle">
                                <i class="fa fa-trash">Remove</i>
                            </button>
                        </form>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>