<div class="container">
    <div class="pt-2">
        <div class="row">
            <div class="col-md-3">
                <form id="filter-form">
                    <label for="price">Price</label>
                    <input id="price" name="price" class="form-control" type="number"/>
                    <label for="type">Type</label>
                    <select id="type" name="type" class="form-control">
                        <option value="">All</option>
                        <option value="CAR">CAR</option>
                        <option value="MOTOR">MOTOR</option>
                        <option value="TRUCK">TRUCK</option>
                        <option value="BUS">BUS</option>
                    </select>
                    <label for="containsModel">Model</label>
                    <input id="containsModel" name="containsModel" class="form-control" type="text"/>
                    <button id="filter" class="btn btn-outline-dark" type="submit">Filter</button>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${vehicles}" class="vehicle">
                <td th:text="${vehicle.getVehicleBrand().getName()}"></td>
                <td th:text="${vehicle.getModel()}"></td>
                <td th:text="${vehicle.getType()}"></td>
                <td th:text="${vehicle.getPrice()}"></td>
                <td class="text-right">
                    <div class="btn-group">
                        <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                            <form th:action="@{'/vehicles/delete/{id}' (id=${vehicle.getId()})}" th:method="DELETE">
                                <button type="submit"
                                        class="btn btn-sm btn-danger delete-vehicle">
                                    <i class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                            |
                            <a th:href="@{'/vehicles/edit-form/{id}' (id=${vehicle.getId()})}"
                               class="btn btn-sm btn-info pl-1 edit-vehicle">
                                <i>Edit</i>
                            </a> |
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <form th:action="@{'/vehicles/favorite/add/{id}' (id=${vehicle.getId()})}" th:method="POST">
                                <button type="submit"
                                        class="btn btn-sm btn-success pl-1 favorite-vehicle">
                                    <i class="fa fa-trash">Add to favorites</i>
                                </button>
                            </form>
                        </th:block>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <h1 th:if="${hasError}" th:text="${error}"></h1>
        <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
            <div class="text-right"><a type="button" href="/vehicles/add" class="btn btn-outline-success add-vehicle-btn">Add new vehicle</a></div>
        </th:block>
    </div>
</div>